*{
    padding: 0;
    margin: 0;
}
h2{text-align: center;
    color: rgb(248, 245, 245);
    background-color: #34495e;
    padding: 10px;
}
/* .one-div{
    height: 250px;
    background-color: #22b8e6;
} */
.secend-div{
    height: 600px;
    background-color:#e67e22;
}
img {
    text-align: center;
    /* margin-left: 549px; */
    height: 488px;
    width: 990px;
    margin: 52px 265px;
}

.title-div{
    height: 220px;
    background-color:#34495e;
}
.ooo{
    color:#ffffff;
    text-align: center;
    padding: 48px; 

}
.raisa {
    color:#349ce1;
    margin-left: 695px;
    margin-top: -17px;
}
.shate {
    color: #fcfdfe;
    position: relative;
    margin-left: 629px;
    margin-top: 3px;
}

.for-div{
    height: 290px;
    background-color: #9b59b6;
}
#hobi {
    color: aliceblue;
    text-align: center;
    position: absolute;
    margin-top: 39px;
}
#kana {
    color:#188753;
    position: absolute;
    margin-left: 701px;
    background-color: #9b59b6;
    margin-top: 134px;
}
.hop {
    position: absolute;
    margin-top: 171px;
    background-color: #9b59b6;
    margin-left: 660px;
    color:#f1c40f;
}
.chok {
    background-color: #9b59b6;
    position: absolute;
    margin-top: 208px;
    color: #95a6a6;
    margin-left: 672px;
}


.five-div{
    height: 240px;
    background-color: #ff9814;
}
#puka {
    color: rgb(15, 9, 2);
    font-size: 79px;
    margin-top: 30p;
    position: absolute;
    margin-left: 571px;
    margin-top: 57px;
}
.box-1 {
    height: 140px;
    width: 415px;
    background-color: #f9f9f9;
    position: absolute;
    margin-left: 487px;
    border-radius: 9px solid red;
    r: -180px;
    border-radius: 12px;
    margin-top: 62px;
}
.box-2 {
    height: 140px;
    width: 415px;
    background-color: #dcdcdc;
    position: absolute;
    text-align: center;
    margin-left: 453px;
    margin-top: 35px;
    border-radius: 10px;
    border: 4px dashed black;
}

.six-div {
    height: 19px;
    background-color: #34495e;
    text-align: center;
    color: aliceblue;
    padding: 23px;
    /* margin-top: -120px; */
}